<a href="https://colab.research.google.com/github/SEONGHYUN99/ML-for-AI/blob/main/220922.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
from google.colab import drive
drive.mount('/content/MyDrive')

Drive already mounted at /content/MyDrive; to attempt to forcibly remount, call drive.mount("/content/MyDrive", force_remount=True).

In [20]:
cd MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/

/content/MyDrive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition

In [21]:
cd ch_02

/content/MyDrive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_02

In [22]:
import pandas as pd

In [24]:
df = pd.read_csv('data/earthquakes.csv')

## Task 1

In [25]:
df.loc[3:10,['mag','magType']]

     mag magType
3   0.44      ml
4   2.16      md
5   2.61      md
6   1.70      ml
7   1.13      md
8   0.92      md
9   4.70      mb
10  0.50      ml

In [27]:
df.iloc[3:10,[8,9,21]]

    mag magType        type
3  0.44      ml  earthquake
4  2.16      md  earthquake
5  2.61      md  earthquake
6  1.70      ml  earthquake
7  1.13      md  earthquake
8  0.92      md  earthquake
9  4.70      mb  earthquake

In [28]:
df.loc[(df.title.str.contains('Arizona'))]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
1062,NaN,NaN,60300227,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.1666,NaN,163.0,",uu60300227,",1.23,ml,...,",uu,",reviewed,1539133978610,"M 1.2 - 7km SSW of Colorado City, Arizona",0,earthquake,",geoserve,origin,phase-data,",-420.0,1539196068710,https://earthquake.usgs.gov/earthquakes/eventp...
3965,NaN,NaN,60298572,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.1577,NaN,211.0,",uu60298572,",0.94,md,...,",uu,",reviewed,1538383710020,"M 0.9 - 7km WSW of Colorado City, Arizona",0,earthquake,",geoserve,origin,phase-data,",-420.0,1538516934720,https://earthquake.usgs.gov/earthquakes/eventp...

In [29]:
df.nlargest(n=10,columns='mag')

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
5263,red,8.4,1000h3p4,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.589,18.0,27.0,",us1000h3p4,us1000h4p4,",7.5,mww,...,",us,us,",reviewed,1538128963480,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",480.0,1539123134531,https://earthquake.usgs.gov/earthquakes/eventp...
837,green,4.1,1000haa3,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.763,3.0,14.0,",us1000haa3,pt18283003,at00pgehsk,",7.0,mww,...,",us,pt,at,",reviewed,1539204500290,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",600.0,1539378744253,https://earthquake.usgs.gov/earthquakes/eventp...
118,green,NaN,1000hbkz,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.623,NaN,25.0,",pt18286001,at00pgjb1a,us1000hbkz,",6.7,mww,...,",pt,at,us,",reviewed,1539429023560,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,earthquake,",geoserve,ground-failure,impact-link,losspager...",600.0,1539455437040,https://earthquake.usgs.gov/earthquakes/eventp...
4363,green,2.2,1000h4l1,https://earthquake.usgs.gov/fdsnws/event/1/que...,3.728,1.0,23.0,",at00pfv7ja,us1000h4l1,pt18273000,",6.7,mww,...,",at,us,pt,",reviewed,1538304744240,"M 6.7 - 263km NNE of Ndoi Island, Fiji",1,earthquake,",dyfi,geoserve,impact-link,losspager,moment-te...",-720.0,1539348741510,https://earthquake.usgs.gov/earthquakes/eventp...
799,green,NaN,1000hacw,https://earthquake.usgs.gov/fdsnws/event/1/que...,3.879,NaN,18.0,",pt18283004,at00pgeomo,us1000hacw,",6.5,mww,...,",pt,at,us,",reviewed,1539213362130,"M 6.5 - 148km S of Severo-Kuril'sk, Russia",1,earthquake,",geoserve,ground-failure,impact-link,losspager...",600.0,1539224915040,https://earthquake.usgs.gov/earthquakes/eventp...
816,green,NaN,1000habl,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.907,NaN,12.0,",us1000habl,",6.2,mww,...,",us,",reviewed,1539208835130,"M 6.2 - 94km SW of Kokopo, Papua New Guinea",1,earthquake,",geoserve,ground-failure,losspager,moment-tens...",600.0,1539219109963,https://earthquake.usgs.gov/earthquakes/eventp...
838,green,NaN,1000ha9t,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.757,NaN,18.0,",us1000ha9t,",6.1,mb,...,",us,",reviewed,1539204326420,"M 6.1 - 132km E of Kimbe, Papua New Guinea",1,earthquake,",geoserve,ground-failure,losspager,origin,phas...",600.0,1539217505598,https://earthquake.usgs.gov/earthquakes/eventp...
5323,green,NaN,1000h3mf,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.812,NaN,33.0,",us1000h3mf,",6.1,mww,...,",us,",reviewed,1538118001950,"M 6.1 - 55km NNW of Palu, Indonesia",1,earthquake,",geoserve,ground-failure,losspager,moment-tens...",480.0,1538158590933,https://earthquake.usgs.gov/earthquakes/eventp...
862,green,4.3,1000ha6q,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.051,170.0,27.0,",us1000ha6q,",6.0,mww,...,",us,",reviewed,1539197095310,"M 6.0 - 39km NNE of Sumberanyar, Indonesia",0,earthquake,",dyfi,geoserve,ground-failure,losspager,moment...",480.0,1539515759040,https://earthquake.usgs.gov/earthquakes/eventp...
1267,green,NaN,1000h97j,https://earthquake.usgs.gov/fdsnws/event/1/que...,3.806,NaN,92.0,",us1000h97j,",6.0,mww,...,",us,",reviewed,1539071114670,"M 6.0 - 138km S of Severo-Kuril'sk, Russia",0,earthquake,",geoserve,ground-failure,losspager,moment-tens...",600.0,1539213313361,https://earthquake.usgs.gov/earthquakes/eventp...

## Task 2

In [30]:
df.drop(columns='alert')

,cdi,code,detail,dmin,felt,gap,ids,mag,magType,mmi,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,NaN,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,NaN,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,NaN,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,NaN,...,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
4,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,NaN,...,",nc,",automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9327,NaN,73086771,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.018060,NaN,185.0,",nc73086771,",0.62,md,NaN,...,",nc,",reviewed,1537230228060,"M 0.6 - 9km ENE of Mammoth Lakes, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1537285598315,https://earthquake.usgs.gov/earthquakes/eventp...
9328,NaN,38063967,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.030410,NaN,50.0,",ci38063967,",1.00,ml,NaN,...,",ci,",reviewed,1537230135130,"M 1.0 - 3km W of Julian, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1537276800970,https://earthquake.usgs.gov/earthquakes/eventp...
9329,NaN,2018261000,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.452600,NaN,276.0,",pr2018261000,",2.40,md,NaN,...,",pr,",reviewed,1537229908180,"M 2.4 - 35km NNE of Hatillo, Puerto Rico",0,earthquake,",geoserve,origin,phase-data,",-240.0,1537243777410,https://earthquake.usgs.gov/earthquakes/eventp...
9330,NaN,38063959,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.018650,NaN,61.0,",ci38063959,",1.10,ml,NaN,...,",ci,",reviewed,1537229545350,"M 1.1 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537230211640,https://earthquake.usgs.gov/earthquakes/eventp...
9331,NaN,38063935,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.016980,NaN,39.0,",ci38063935,",0.66,ml,NaN,...,",ci,",reviewed,1537228864470,"M 0.7 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537305830770,https://earthquake.usgs.gov/earthquakes/eventp...

In [32]:
mag=df.pop('mag')
magType=df.pop('magType')

In [34]:
new=pd.concat([mag,magType],axis=1)

In [35]:
new

       mag magType
0     1.35      ml
1     1.29      ml
2     3.42      ml
3     0.44      ml
4     2.16      md
...    ...     ...
9327  0.62      md
9328  1.00      ml
9329  2.40      md
9330  1.10      ml
9331  0.66      ml

[9332 rows x 2 columns]

Practice

In [38]:
cd /content/MyDrive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/

/content/MyDrive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition

In [39]:
cd ch_03

/content/MyDrive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_03

In [56]:
df = pd.read_csv('data/nyc_temperatures.csv')

In [41]:
df.head()

                  date datatype            station attributes  value
0  2018-10-01T00:00:00     TAVG  GHCND:USW00014732      H,,S,   21.2
1  2018-10-01T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   25.6
2  2018-10-01T00:00:00     TMIN  GHCND:USW00014732   ,,W,2400   18.3
3  2018-10-02T00:00:00     TAVG  GHCND:USW00014732      H,,S,   22.7
4  2018-10-02T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   26.1

In [42]:
#renaming columns 
df.columns

Index(['date', 'datatype', 'station', 'attributes', 'value'], dtype='object')

In [48]:
df.rename(
    columns={
        'value': 'temp_C',
        'attributes': 'flags'
    }, inplace=True
)

In [49]:
df.columns

Index(['date', 'datatype', 'station', 'flags', 'temp_C'], dtype='object')

In [50]:
df.head()

                  date datatype            station     flags  temp_C
0  2018-10-01T00:00:00     TAVG  GHCND:USW00014732     H,,S,    21.2
1  2018-10-01T00:00:00     TMAX  GHCND:USW00014732  ,,W,2400    25.6
2  2018-10-01T00:00:00     TMIN  GHCND:USW00014732  ,,W,2400    18.3
3  2018-10-02T00:00:00     TAVG  GHCND:USW00014732     H,,S,    22.7
4  2018-10-02T00:00:00     TMAX  GHCND:USW00014732  ,,W,2400    26.1

In [51]:
df.rename(str.upper, axis='columns').columns

Index(['DATE', 'DATATYPE', 'STATION', 'FLAGS', 'TEMP_C'], dtype='object')

In [52]:
#Type conversion
df.dtypes

date         object
datatype     object
station      object
flags        object
temp_C      float64
dtype: object

In [53]:
df.loc[:,'date']

0     2018-10-01T00:00:00
1     2018-10-01T00:00:00
2     2018-10-01T00:00:00
3     2018-10-02T00:00:00
4     2018-10-02T00:00:00
             ...
88    2018-10-30T00:00:00
89    2018-10-30T00:00:00
90    2018-10-31T00:00:00
91    2018-10-31T00:00:00
92    2018-10-31T00:00:00
Name: date, Length: 93, dtype: object

In [58]:
df.loc[:,'date']=pd.to_datetime(df.date)

In [59]:
df.loc[:,'date']=pd.to_datetime(df.date)

In [60]:
df.dtypes

date          datetime64[ns]
datatype              object
station               object
attributes            object
value                float64
dtype: object

In [62]:
df.date.describe(datetime_is_numeric=True)

count                     93
mean     2018-10-16 00:00:00
min      2018-10-01 00:00:00
25%      2018-10-08 00:00:00
50%      2018-10-16 00:00:00
75%      2018-10-24 00:00:00
max      2018-10-31 00:00:00
Name: date, dtype: object

In [64]:
pd.date_range(start='2018-10-25',periods=2,freq='D')

DatetimeIndex(['2018-10-25', '2018-10-26'], dtype='datetime64[ns]', freq='D')

In [65]:
df.head()

        date datatype            station attributes  value
0 2018-10-01     TAVG  GHCND:USW00014732      H,,S,   21.2
1 2018-10-01     TMAX  GHCND:USW00014732   ,,W,2400   25.6
2 2018-10-01     TMIN  GHCND:USW00014732   ,,W,2400   18.3
3 2018-10-02     TAVG  GHCND:USW00014732      H,,S,   22.7
4 2018-10-02     TMAX  GHCND:USW00014732   ,,W,2400   26.1

In [70]:
eastern=pd.read_csv('data/nyc_temperatures.csv',index_col='date',parse_dates=True).tz_localize('EST')

In [78]:
cd /content/MyDrive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_02

/content/MyDrive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_02

In [79]:
df = pd.read_csv(
    'data/earthquakes.csv', 
    usecols=['time', 'title', 'place', 'magType', 'mag', 'alert', 'tsunami']
)

In [83]:
df.place.str.extract(r', (.*$)')

                0
0              CA
1              CA
2              CA
3              CA
4              CA
...           ...
9327           CA
9328           CA
9329  Puerto Rico
9330           CA
9331           CA

[9332 rows x 1 columns]