<a href="https://colab.research.google.com/github/SEONGHYUN99/ML-for-AI/blob/main/220915_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.DataFrame(
    np.array([
        ['김현권', "playing guitar", "Korean"],
        ['안성현', "watching Nextflix", "Korean"],
        ['나혜란', "watching animation", "Korean"],
        ['예라이', "playing the video game", "Spanish"],
    ]), columns=['Name', 'Hobby', 'Nationality']
)

In [ ]:
index1=pd.Index([10,20,30,40])

In [ ]:
df.index=index1

In [ ]:
df

   Name                   Hobby Nationality
10  김현권          playing guitar      Korean
20  안성현       watching Nextflix      Korean
30  나혜란      watching animation      Korean
40  예라이  playing the video game     Spanish

In [ ]:
 #Mount Google Drive
 from google.colab import drive
 drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition

In [ ]:
cd ch_02

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_02

In [ ]:
df.to_csv('output_df.csv', index=False)

In [ ]:
df.to_csv('output_df_.csv', index=True)

In [ ]:
df_reload=pd.read_csv('output_df_.csv')

In [ ]:
df_reload

   Unnamed: 0 Name                   Hobby Nationality
0          10  김현권          playing guitar      Korean
1          20  안성현       watching Nextflix      Korean
2          30  나혜란      watching animation      Korean
3          40  예라이  playing the video game     Spanish

In [ ]:
#Applying methods
df=pd.DataFrame(
    np.array([
        ['김현권', "playing guitar", "Korean",23,19,17],
        ['안성현', "watching Nextflix", "Korean",22,19,12],
        ['나해란', "watching animation", "Korean",21,19,17],
        ['예라이', "playing the video game", "Spanish",20,19,17],
    ]), columns=['Name', 'Hobby', 'Nationality',"Age","ID","credit"]
)

In [ ]:
df

  Name                   Hobby Nationality Age  ID credit
0  김현권          playing guitar      Korean  23  19     17
1  안성현       watching Nextflix      Korean  22  19     12
2  나해란      watching animation      Korean  21  19     17
3  예라이  playing the video game     Spanish  20  19     17

In [ ]:
df['Age'].median()

21.5

In [ ]:
df['credit']=pd.to_numeric(df["credit"])

In [ ]:
df['credit'].sum()

63